/* Reset default margin and padding for body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

/* Center content on the page */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: fade-in 0.5s ease;
}
h3{
    text-align: center;
    color: #fff;
}

/* Style for chapters and links */
p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

a {
    display: block;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ffd700;
    color: #000;
}

/* Center the links */
.chapter-link {
    margin-bottom: 20px;
    text-align: center;
}

/* Fade-in animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Background gradient */
body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: linear-gradient(to right, #000, #000);
    opacity: 0.05;
    z-index: -1;
}
